@import 'cards';
@import 'loading';
@import 'profile';

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f5f7fa;
}

.app {
  margin: 20px auto;
  position: relative;
  min-height: 600px;
  max-height: 1000px;
  width: 410px;
  height: auto;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.nav-link {
    width: 30px;
    height: 30px;
    img {
        width: auto;
        height: 30px;
        filter: grayscale(100%);
        opacity: 0.1;
        transform: scale(0.8);
    }
    
}
.activeLink {
    img{
        transform: scale(1.1);
        filter: none;
        opacity: 1;
    }
}
.Nav {
    z-index: 999;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: left 1s;
    position: relative;
}
.swipe {
    margin-top: -40px;
    pointer-events: none;
}