* {
    box-sizing: border-box;
}

.messagesWrap {
    height: 100%;
}

.matchesTitle {
    padding: 12px 8px;
    text-align: left;
    span {
        color: #fd5068;
        font-weight: 600;
        font-size: 15px;
    }
}

.matchList {
    text-align: left;
    width: 100%;
    white-space: nowrap;
    padding: 4px 8px;
    padding-bottom: 4px;
    overflow-x: scroll;
}

.newMatch {
    text-align: center;
    margin: 0 4px;
    display: inline-block;
    color: #424242;
    text-decoration: none;
    div {
        height: 74px;
        width: 74px;
        margin: 0 auto;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center; // img {
        //     min-width: 74px;
        //     height: 74px;
        // }
    }
    span {
        text-align: center; // margin-top: 5px;
        font-weight: 500;
        display: block;
        font-size: 15px;
    }
}

.noMessages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 1;
    height: 70%;
    div {
        div {
            width: 240px;
            margin-top: 20px;
        }
    }
    h3 {
        font-size: 20px;
        margin: 0 0 3px;
        font-weight: 500;
    }
    span {
        display: inline-block;
        width: 85%;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 200;
    }
}

.convo {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        span {
            width: 44px;
        }
    }
}

.backButton {
    color: #FD486B;
    font-size: 44px;
    width: 44px;
}

.messageNavProfile {
    text-decoration: none;
    div {
        text-align: center;
        width: 44px;
        height: 44px;
        overflow: hidden;
        border-radius: 100%;
        margin: 0 auto;
        img {
            min-width: 100%;
            height: 100%;
        }
    }
    span {
        color: grey;
        font-size: 12px;
        font-weight: 300;
    }
}

.matchProfile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 100%;
    overflow-y: scroll;
    background-color: white;
    #profile {
        display: block;
        top: -130px;
        min-height: 300px;
        width: 100%;
    }
}