#cards {
  pointer-events: auto; }

#picWrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  top: 0;
  transition: top 0.2s; }
  #picWrap img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
    pointer-events: none;
    transition: width 0.3s;
    min-height: 391px; }

.overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent 30%);
  pointer-events: none; }

.overLayBottom {
  text-align: left;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 20px;
  max-height: 50%; }
  .overLayBottom h2 {
    margin: 0;
    font-weight: 200; }
    .overLayBottom h2 strong {
      font-weight: 300; }
  .overLayBottom p {
    margin: 0;
    font-weight: 100;
    line-height: 2em; }
  .overLayBottom span {
    font-size: 20px;
    position: absolute;
    right: 10%;
    bottom: 35%;
    z-index: 10000;
    pointer-events: auto; }

li {
  list-style: none; }

.card {
  background-color: white;
  background-size: cover;
  position: absolute;
  background: #F8F3F3;
  height: 504px;
  width: 360px;
  margin: 0 auto;
  transition: box-shadow .3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.01), 0 4px 5px rgba(0, 0, 0, 0.01);
  border-radius: 8px; }

.animate {
  transition: transform .3s;
  box-shadow: none;
  transform: rotate(20deg); }

.inactive {
  box-shadow: 1px 1px 1px 2px rgba(100, 100, 100, 0.02); }

.alert {
  width: auto;
  top: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  color: white;
  vertical-align: middle;
  line-height: 35px;
  font-size: 40px;
  font-weight: 600; }

.alert-visible {
  opacity: 1; }

.alert-right {
  color: #01df8a;
  right: 2%;
  border: 4px solid #01df8a;
  transform: rotate(-20deg); }

.alert-left {
  color: #ff4848;
  left: 2%;
  border: 4px solid #ff4848;
  transform: rotate(20deg); }

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%; }

.alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%; }

.leftButton {
  height: 504px;
  width: 50%;
  z-index: 9999;
  float: left; }

.rightButton {
  height: 504px;
  width: 50%;
  z-index: 9999;
  float: left; }

.overlayTop {
  float: left;
  width: 100%;
  height: 20px; }
  .overlayTop ul {
    height: 100%;
    margin: 0;
    padding: 5px 10px 12px;
    box-sizing: border-box;
    display: flex; }
    .overlayTop ul li {
      margin: 0 2px;
      border-radius: 10px;
      z-index: 999;
      flex-grow: 1;
      background-color: lightgrey;
      opacity: 0.5; }
  .overlayTop .activePic {
    background-color: white;
    opacity: 1; }

.loading {
  height: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 10; }
  .circle img {
    width: 100%; }

.halo {
  position: absolute;
  width: 80px;
  height: 80px;
  animation: pulse 6s infinite;
  border-radius: 100%;
  border: 1px solid rgba(255, 107, 107, 0.5);
  background-color: rgba(255, 107, 107, 0.5);
  z-index: 9; }

.halo2 {
  animation-delay: -2s; }

.halo3 {
  animation-delay: -4s; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  90% {
    opacity: 0; }
  to {
    -webkit-transform: scale(4.75);
    transform: scale(4.75);
    opacity: 0; } }
.myAccount {
  padding: 60px 20px;
  text-align: center; }
  .myAccount .circle {
    width: 200px;
    height: 200px;
    border: none;
    margin: 15% auto; }
  .myAccount h2 {
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 30px; }
    .myAccount h2 strong {
      font-weight: 400; }
  .myAccount p {
    font-size: 14px;
    font-weight: 300;
    margin: 0; }

.accountBottom {
  margin-top: 10px; }
  .accountBottom div {
    display: inline-block;
    padding: 0 14%;
    margin-top: 10px; }
  .accountBottom .leftBox {
    border-right: 2px solid gainsboro; }
  .accountBottom .iconBox {
    box-sizing: border-box;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 11px;
    background-color: #EFF0F4;
    border-radius: 50%; }
    .accountBottom .iconBox img {
      opacity: 0.1;
      width: 100%;
      height: 100%; }
  .accountBottom h5 {
    margin-bottom: 0;
    color: lightgrey; }

.account {
  height: 100vh;
  overflow: scroll;
  position: relative;
  top: -50px; }
  .account #profile {
    left: 0;
    top: 0; }
    .account #profile.open {
      top: 0;
      margin-top: -130px;
      padding-bottom: 200px; }
    .account #profile .profileReport {
      display: none; }

.editInfo {
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 39.5%;
  z-index: 333333;
  font-size: 20px;
  cursor: pointer;
  line-height: 44px;
  font-weight: 600;
  color: #fd5068;
  padding: 0 34px;
  box-shadow: 0 2px 6px 0 rgba(111, 124, 133, 0.14);
  height: 44px;
  border-top-left-radius: 34px;
  border-bottom-right-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  font-size: 16px;
  letter-spacing: .02em; }
  .editInfo:focus {
    outline: none; }

#picWrap.fullScreen {
  width: 410px;
  z-index: 10000 !important;
  position: relative; }
  #picWrap.fullScreen img {
    min-width: 410px;
    height: auto; }

#profile {
  box-sizing: border-box;
  text-align: left;
  color: #9b9b9b;
  display: none;
  position: relative;
  z-index: 10000;
  width: 114%;
  top: 100%;
  width: 410px;
  background-color: #fff;
  padding-bottom: 50px;
  transition: display 0s; }
  #profile svg {
    margin-right: 8px;
    opacity: 0.5; }
  #profile h2 {
    font-weight: 500;
    color: #424242;
    margin: 0 0 10px; }
    #profile h2 strong {
      font-weight: 500; }
  #profile h4 {
    margin: 5px 0; }

#profile.open {
  display: block;
  top: -130px; }

.profileJob h4 {
  font-weight: 300; }

.profileHeader {
  padding: 10px 16px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px; }

.profileDescription {
  padding: 10px 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #e8e8e8; }

.profileReport {
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 18px; }
  .profileReport p {
    text-transform: uppercase;
    color: #e8e8e8;
    transition: color 0.2s; }
  .profileReport p:hover {
    color: grey; }

.closeCircle {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
  position: absolute;
  right: 15px;
  top: -15px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  transition: background .25s ease, transform .25s ease, -webkit-transform .25s ease;
  background: linear-gradient(#ff7854, #fd267d); }
  .closeCircle img {
    filter: brightness(0) invert(1); }
  .closeCircle:hover {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
    .closeCircle:hover img {
      filter: none; }

.anotherdiv {
  overflow-y: scroll;
  width: 410px;
  left: -25px;
  z-index: 10000 !important;
  position: relative;
  top: -10vh;
  padding-right: 20px; }

::-webkit-scrollbar {
  display: none; }

.somanydivs {
  max-height: 100vh; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f5f7fa; }

.app {
  margin: 0px auto;
  position: relative;
  min-height: 600px;
  width: 410px;
  height: 100vh;
  overflow: hidden;
  border: 1px solid #e5e5e5; }

.master-root {
  margin: 0 auto;
  position: relative;
  min-height: 600px;
  height: 100vh;
  width: 410px; }

@media screen and (max-width: 600px) {
  .app {
    width: 100vw;
    height: 100vw; }

  .master-root {
    width: 100%; } }
.nav-link {
  width: 30px;
  height: 30px;
  margin: 0 30px; }
  .nav-link img {
    width: auto;
    height: 30px;
    filter: grayscale(100%);
    opacity: 0.1;
    transform: scale(0.8); }

.activeLink {
  transition: margin 2s; }
  .activeLink img {
    transform: scale(1.1);
    filter: none;
    opacity: 1; }

.Nav {
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: left 1s;
  position: relative;
  white-space: nowrap; }

.swipe {
  margin-top: -50px;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
