.master-root {
  margin: 0;
  position: relative;
  min-height: 600px;
  max-height: 1000px;
  width: 410px;
  height: auto;
  overflow: hidden; }

#cards {
  pointer-events: auto; }

.picWrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  .picWrap img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
    pointer-events: none; }

.overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent 30%);
  pointer-events: none; }

.overLayBottom {
  text-align: left;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  max-height: 50%; }
  .overLayBottom h2 {
    margin: 0;
    font-weight: 200; }
    .overLayBottom h2 strong {
      font-weight: 300; }
  .overLayBottom p {
    margin: 0;
    font-weight: 100;
    line-height: 2em; }

li {
  list-style: none; }

.card {
  background-color: white;
  background-size: cover;
  position: absolute;
  background: #F8F3F3;
  height: 504px;
  width: 360px;
  margin: 0 auto;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px; }

.animate {
  transition: transform .3s;
  box-shadow: none;
  transform: rotate(20deg); }

.inactive {
  box-shadow: 1px 1px 1px 2px rgba(100, 100, 100, 0.02); }

.alert {
  width: auto;
  top: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  color: white;
  vertical-align: middle;
  line-height: 35px;
  font-size: 40px;
  font-weight: 600; }

.alert-visible {
  opacity: 1; }

.alert-right {
  color: #01df8a;
  right: 2%;
  border: 4px solid #01df8a;
  transform: rotate(-20deg); }

.alert-left {
  color: #ff4848;
  left: 2%;
  border: 4px solid #ff4848;
  transform: rotate(20deg); }

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%; }

.alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%; }

.leftButton {
  height: 504px;
  width: 50%;
  z-index: 9999;
  float: left; }

.rightButton {
  height: 504px;
  width: 50%;
  z-index: 9999;
  float: left; }

.overlayTop {
  float: left;
  width: 100%;
  height: 20px; }
  .overlayTop ul {
    height: 100%;
    margin: 0;
    padding: 5px 10px 12px;
    box-sizing: border-box;
    display: flex; }
    .overlayTop ul li {
      margin: 0 2px;
      border-radius: 10px;
      z-index: 999;
      flex-grow: 1;
      background-color: lightgrey;
      opacity: 0.5; }
  .overlayTop .activePic {
    background-color: white;
    opacity: 1; }

.loading {
  height: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 10; }
  .circle img {
    width: 100%; }

.halo {
  position: absolute;
  width: 80px;
  height: 80px;
  animation: pulse 6s infinite;
  border-radius: 100%;
  border: 1px solid rgba(255, 107, 107, 0.5);
  background-color: rgba(255, 107, 107, 0.5);
  z-index: 9; }

.halo2 {
  animation-delay: -2s; }

.halo3 {
  animation-delay: -4s; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  90% {
    opacity: 0; }
  to {
    -webkit-transform: scale(4.75);
    transform: scale(4.75);
    opacity: 0; } }
.myProfile {
  padding: 60px 20px;
  text-align: center; }
  .myProfile .circle {
    width: 150px;
    height: 150px;
    border: none;
    margin: 0 auto; }
  .myProfile h2 {
    font-weight: 500;
    margin-bottom: 6px; }
    .myProfile h2 strong {
      font-weight: 400; }
  .myProfile p {
    font-size: 14px;
    font-weight: 300;
    margin: 0; }

.profileBottom {
  margin-top: 10px; }
  .profileBottom div {
    display: inline-block;
    padding: 0 55px;
    margin-top: 10px; }
  .profileBottom .leftBox {
    border-right: 2px solid gainsboro; }
  .profileBottom .iconBox {
    box-sizing: border-box;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 11px;
    background-color: #EFF0F4;
    border-radius: 50%; }
    .profileBottom .iconBox img {
      opacity: 0.1;
      width: 100%;
      height: 100%; }
  .profileBottom h5 {
    margin-bottom: 0;
    color: lightgrey; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f5f7fa; }

.app {
  margin: 20px auto;
  position: relative;
  min-height: 600px;
  max-height: 1000px;
  width: 410px;
  height: auto;
  overflow: hidden;
  border: 1px solid #e5e5e5; }

.nav-link {
  width: 30px;
  height: 30px; }
  .nav-link img {
    width: auto;
    height: 30px;
    filter: grayscale(100%);
    opacity: 0.1;
    transform: scale(0.8); }

.activeLink img {
  transform: scale(1.1);
  filter: none;
  opacity: 1; }

.Nav {
  z-index: 999;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: left 1s;
  position: relative; }

.swipe {
  margin-top: -40px;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
